In [9]:
import pandas as pd
import numpy as np

In [10]:
columns_name = ['code_number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhersion','Single Epith Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [15]:
data = pd.read_csv('breast-cancer-wisconsin.data',names=columns_name)

In [16]:
data.shape

(699, 11)

In [17]:
data.head()

,code_number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhersion,Single Epith Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [19]:
data.describe()

,code_number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhersion,Single Epith Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [20]:
data = data.replace(to_replace='?',value=np.NaN)

In [21]:
data = data.dropna(how='any')

In [22]:
data.shape

(683, 11)

## 使用sklearn.cross_valiation 里的train_test_split模块用于分割数据

In [25]:
from sklearn.model_selection import train_test_split

In [33]:
data.values

array([[1000025, 5, 1, ..., 1, 1, 2],
       [1002945, 5, 4, ..., 2, 1, 2],
       [1015425, 3, 1, ..., 1, 1, 2],
       ...,
       [888820, 5, 10, ..., 10, 2, 4],
       [897471, 4, 8, ..., 6, 1, 4],
       [897471, 4, 8, ..., 4, 1, 4]], dtype=object)

In [34]:
X_train,X_test,y_train,y_test=train_test_split(data[columns_name[1:10]],data[columns_name[10]],test_size=0.25,random_state=33)

In [37]:
y_train.value_counts()

2    344
4    168
Name: Class, dtype: int64

In [38]:
y_test.value_counts()

2    100
4     71
Name: Class, dtype: int64

In [39]:
X_train

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhersion,Single Epith Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
662,1,1,3,1,2,1,2,1,1
282,1,4,3,10,4,10,5,6,1
542,5,3,1,1,2,1,1,1,1
301,1,1,1,1,2,1,3,1,1
95,1,1,1,1,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
207,1,1,1,1,1,1,3,1,1
674,1,1,1,1,2,1,2,1,1
593,5,1,2,1,2,1,1,1,1
405,1,1,1,1,2,1,2,1,1
20,7,3,2,10,5,10,5,4,4

In [40]:
from sklearn.preprocessing import StandardScaler

In [43]:
from sklearn.linear_model import LogisticRegression ,SGDRegressor
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

### 标准化数据

In [44]:
ss = StandardScaler()

In [45]:
X_train=ss.fit_transform(X_train)

In [47]:
X_test=ss.fit_transform(X_test)

In [54]:
models= [LogisticRegression(),LinearDiscriminantAnalysis()]

In [57]:
from sklearn.metrics import accuracy_score,classification_report

In [58]:
for model in models:
    model.fit(X_train,y_train)
    predictions = model.predict(X_test)
    print(predictions)
    print(y_test)
    print("精确度L:",accuracy_score(y_test,predictions))
    print(classification_report(y_test,predictions,target_names=['benign','Maligant']))

[2 2 4 4 2 2 2 4 2 2 2 2 4 2 4 4 4 4 4 2 2 4 4 2 4 4 2 2 4 4 4 4 4 4 4 4 2
 4 4 4 4 4 2 4 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 4 2 2 2
 2 2 2 2 4 2 2 2 4 2 2 2 4 2 4 2 4 4 2 2 2 2 4 4 2 2 2 4 2 2 4 2 2 2 2 2 4
 2 2 2 2 2 2 4 2 2 2 2 2 4 2 2 2 4 2 2 4 4 2 4 4 2 2 2 2 4 2 4 2 4 2 2 2 2
 2 4 4 2 4 4 2 4 2 2 2 2 4 4 4 2 4 2 2 4 2 4 4]
657    2
257    2
236    4
697    4
599    2
      ..
108    2
221    4
499    2
465    4
330    4
Name: Class, Length: 171, dtype: int64
精确度L: 0.9649122807017544
              precision    recall  f1-score   support

      benign       0.95      0.99      0.97       100
    Maligant       0.99      0.93      0.96        71

    accuracy                           0.96       171
   macro avg       0.97      0.96      0.96       171
weighted avg       0.97      0.96      0.96       171

[2 2 4 4 2 2 2 4 2 2 2 2 2 2 4 2 4 4 4 2 2 4 4 2 4 4 2 2 4 4 4 4 4 4 4 4 2
 4 4 4 4 4 2 4 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 4 2 2 2
 2 2 2 4 4 2 2 2 4 2 2 2 4 2 4 2 4 4 2 2 2 2 4 4 2 2 2 4 2 2 4 2 2 2 2 2 4
 2 2 2 2 2 2 4 2 2 2 2 2 4 2 2 2 4 2 2 4 4 2 4 4 2 2 2 2 4 2 4 2 4 2 2 2 2
 2 4 4 2 4 4 2 4 2 2 2 2 4 4 4 2 4 2 2 4 2 4 4]
657    2
257    2
236    4
697    4
599    2
      ..
108    2
221    4
499    2
465    4
330    4
Name: Class, Length: 171, dtype: int64
精确度L: 0.9707602339181286
              precision    recall  f1-score   support

      benign       0.95      1.00      0.98       100
    Maligant       1.00      0.93      0.96        71

    accuracy                           0.97       171
   macro avg       0.98      0.96      0.97       171
weighted avg       0.97      0.97      0.97       171